name: Test Workflow

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: 24f2008200@ds.study.iitm.ac.in
        run: echo "Hello, world!"

      - name: Finish
        run: echo "Workflow completed"
